{% extends 'admin/admin_home.html' %}

{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/expences.css' %}">
</head>

<div class="content" style="padding: 0 50px 0 0;">
    <div class="cards-con">
        <div class="title">
            <div class="main">Summary</div>
        </div>
        <!-- end of cards title -->

        <div class="cards">
            <div class="card card-1">
                <div class="rec-1"></div>
                <div class="rec-2"></div>
                <div class="content">
                    <div class="name">Expence &nbsp;&nbsp;&nbsp;&nbsp; {{current_month}}</div>
                    <div class="name">Total Expence: Rs{{sum}}</div>
                    <div class="name">Average Expence: Rs{{avg}}</div>
                </div>
            </div>

            <div class="card" style="background: aquamarine; display: flex; cursor: pointer;">
                <div class="card-content"
                    style="font-size: 20px; text-align: center; transform: translate(80%, 40%); color: black;"
                    onclick="addExpence()">
                    Add Expence
                </div>
            </div>

        </div>
    </div>



    <div class="table-con">
        <div class="heading">
            <div class="title">Expence Record</div>

            <div class="row">
                <form action="" method="get">
                    <table class="table">
                        <thead>
                            <form action="">
                                <tr class="filters">
                                    <th>From Date
                                        <input id="assigned-user-filter" name="fromDate" value="" type='date' class="form-control">
                                    </th>
                                    <th>To Date
                                        <input id="assigned-user-filter" type='date' name="toDate" value="" class="form-control">
                                    </th>
                                    <th>Search
                                        <input id="assigned-user-filter" type='text' name="search" value=""  class="form-control">
                                    </th>
                                    <th>
                                        <input type="submit" class="btn btn-primary" value="Search">
                                    </th>
                                </tr>
                            </form>
                        </thead>
                    </table>
                </form>
            </div>

        </div>
        <table>
            <thead>
                <tr>
                    <th style="max-width: 250px; min-width: 200px;">Date</th>
                    <th style="max-width: 250px; min-width: 200px;">Purchase</th>
                    <th style="max-width: 250px; min-width: 200px;">Remark</th>
                    <th style="max-width: 250px; min-width: 200px;">Amount</th>
                    <th style="max-width: 250px; min-width: 200px;"></th>
                </tr>
            </thead>

            <tbody>
                {% if data|length == 0 %}
                <tr>
                    <td colspan="5" align="center">No Record Found</td>
                </tr>
                {% else %}
                {% for data in data %}
                <tr class="row">
                    <td class="date" style="max-width: 250px; min-width: 200px;">
                        <p>{{data.Date}}</p>
                    </td>
                    <td class="name" style="max-width: 250px; min-width: 200px;">
                        <p>{{data.Purchase}}</p>
                    </td>
                    <td class="name" style="max-width: 250px; min-width: 200px;">
                        <p>{{data.Remark}}</p>
                    </td>
                    <td class="name" style="max-width: 250px; min-width: 200px;">
                        <p>{{data.Amount}}</p>
                    </td>
                    <td class="name" style="max-width: 250px; min-width: 200px;">
                        <p><a onclick="itemCliked({{forloop.counter}})"> Edit </a></p>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
    <!--table container -->
    {% for data in data %}
    <div class="content expand_details" id="edit_expence_container{{forloop.counter}}">
        <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        </head>
        <button onclick="closeBtn({{forloop.counter}})">&times</button>
        <section class="contact-from pt-4" style="border: 1px solid; background: #fff;">

            <body>
                <div class="container">
                    <br />
                    <br />
                    <h2 style="position: relative; top: -55px;">Edit Expence</h2>
                    <div class="form-group">
                        <form name="add_name" id="add_name" action="edit_expence-{{data.id}}" method="post">
                            {% csrf_token %}
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dynamic_field">
                                    <tr>
                                        <td><input type="date" id="EditDate" required name="date" placeholder="Purchase"
                                                class="form-control name_list" /></td>
                                        <td><input type="text" value="{{data.Purchase}}" name="purchase" placeholder="Purchase"
                                            class="form-control name_list" /></td>
                                        <td><input type="text" value="{{data.Remark}}" name="remark" placeholder="Remark"
                                                class="form-control name_list" /></td>
                                        <td><input type="text" value="{{data.Amount}}" name="amount" placeholder="Amount"
                                                class="form-control name_list" /></td>
                                    </tr>
                                </table>
                                <input style="float: right;" type="submit" name="submit" id="submit" class="btn btn-info" value="Edit" />
                            </div>
                        </form>
                    </div>
                </div>
        </section>
    </div>
    {% endfor %}


    <div class="content expand_details" id="add_expence_container">

        <head>

            <head>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
            </head>
        </head>
        <button onclick="closeBtn()">&times</button>
        <section class="contact-from pt-4" style="border: 1px solid; background: #fff;">

            <body>
                <div class="container">
                    <br />
                    <br />
                    <h2 style="position: relative; top: -55px;">Add Expence</h2>
                    <div class="form-group">
                        <form name="add_name" id="add_name" action="" method="post">
                            {% csrf_token %}
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dynamic_field">
                                    <tr>
                                        <td><input type="date" id="dateInput" name="date" placeholder="Purchase"
                                            class="form-control name_list" required/></td>
                                        <td><input type="text" name="purchase" placeholder="Purchase"
                                            class="form-control name_list" /></td>
                                        <td><input type="text" name="remark" placeholder="Remark"
                                            class="form-control name_list" /></td>
                                        <td><input type="text" name="amount" placeholder="Amount"
                                            class="form-control name_list" /></td>
                                    </tr>
                                </table>
                                <input type="submit" style="float: right;" name="submit" id="submit" class="btn btn-info" value="Submit" />
                            </div>
                        </form>
                    </div>
                </div>
            </body>

            </html>
            <script>
                $(document).ready(function () {
                    var i = 1;
                    $('#add').click(function () {
                        i++;
                        $('#dynamic_field').append('<tr id="row' + i + '"><td><input type="text" name="name[]" placeholder="Expence" class="form-control name_list" /></td><td><input type="text" name="amount[]" placeholder="Amount" class="form-control name_list" /></td><td><button type="button" name="remove" id="' + i + '" class="btn btn-danger btn_remove" style="position: inherit;">X</button></td></tr>');
                    });
                    $(document).on('click', '.btn_remove', function () {
                        var button_id = $(this).attr("id");
                        $('#row' + button_id + '').remove();
                    });
                    $('#submit').click(function () {
                        $.ajax({
                            url: "name.php",
                            method: "POST",
                            data: $('#add_name').serialize(),
                            success: function (data) {
                                alert(data);
                                $('#add_name')[0].reset();
                            }
                        });
                    });
                });  
            </script>
        </section>
    </div>


</div>

<script>
    function itemCliked(id) {
       document.getElementById(`edit_expence_container${id}`).style.display = "block";
    }
    function closeBtn(id) {
        id?document.getElementById(`edit_expence_container${id}`).style.display = "none":'';
        document.getElementById('add_expence_container').style.display = "none";
        document.getElementById('expand_details').style.display = "none";
    }
    function addExpence() {
        const dateInput = document.getElementById('dateInput');
        const currentDate = new Date();
        const utcOffsetMinutes = currentDate.getTimezoneOffset();
        currentDate.setMinutes(currentDate.getMinutes() - utcOffsetMinutes);
        const formattedDate = currentDate.toISOString().substr(0, 10);
        dateInput.value = formattedDate;
        document.getElementById('add_expence_container').style.display = "block";
    }
</script>

{% endblock %}