{% extends 'admin/admin_home.html' %}

{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/expences.css' %}">
</head>

<div class="content">
    <div class="cards-con">
        <div class="title">
            <div class="main">Summary</div>
        </div>
        <!-- end of cards title -->

        <div class="cards">
            <div class="card card-1">
                <div class="rec-1"></div>
                <div class="rec-2"></div>
                <div class="content">
                    <div class="name">Expence &nbsp;&nbsp;&nbsp;&nbsp; {{current_month}}</div>
                    <div class="name">Total Expence: Rs{{sum}}</div>
                    <div class="name">Average Expence: Rs{{avg}}</div>
                </div>
            </div>

            <div class="card" style="background: aquamarine; display: flex; cursor: pointer;">
                <div class="card-content"
                    style="font-size: 20px; text-align: center; transform: translate(80%, 40%); color: black;"
                    onclick="addExpence()">
                    Add Expence
                </div>
            </div>

        </div>
    </div>



    <div class="table-con" style="overflow: hidden;">
        <div class="heading">
            <div class="title">Expence Record</div>

            <div class="row">
                <form action="" method="get">
                    <table class="table">
                        <thead>
                            <tr class="filters">
                                <th>From Date
                                    <input id="assigned-user-filter" name="fromDate" value="" type='date' class="form-control">
                                </th>
                                <th>To Date
                                    <input id="assigned-user-filter" type='date' name="toDate" value="" class="form-control">
                                </th>
                                <th>Search
                                    <input id="assigned-user-filter" type='text' name="search" value=""  class="form-control">
                                </th>
                                <th>
                                    <input type="submit" class="btn btn-primary" value="Search">
                                </th>
                            </tr>
                        </thead>
                    </table>
                </form>
            </div>

        </div>
        <table>
            <thead>
                <tr>
                    <th style="max-width: 350px; min-width: 300px;">Date</th>
                    <th style="max-width: 350px; min-width: 300px;">Purchase</th>
                    <th style="max-width: 350px; min-width: 300px;">Remark</th>
                    <th style="max-width: 350px; min-width: 300px;">Amount</th>
                    <th style="max-width: 350px; min-width: 300px;"></th>
                </tr>
            </thead>

            <tbody>
                {% if data|length == 0 %}
                <tr>
                    <td colspan="5" align="center">No Record Found</td>
                </tr>
                {% else %}
                {% for data in data %}
                <tr class="row">
                    <td class="date" style="max-width: 350px; min-width: 300px;">
                        <p>{{data.Date}}</p>
                    </td>
                    <td class="name" style="max-width: 350px; min-width: 300px;">
                        <p>{{data.Purchase}}</p>
                    </td>
                    <td class="name" style="max-width: 350px; min-width: 300px;">
                        <p>{{data.Remark}}</p>
                    </td>
                    <td class="name" style="max-width: 350px; min-width: 300px;">
                        <p>{{data.Amount}}</p>
                    </td>
                    <td class="name" style="max-width: 350px; min-width: 300px;">
                        <p>Edit</p>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
    <!--table container -->

    <div class="content expand_details" id="expand_details">
        <button onclick="closeBtn()">&times</button>
        <div class="table-con">
            <table>
                <thead>
                    <tr>
                        <th style="max-width: 350px; min-width: 300px;">Purchase</th>
                        <th style="max-width: 350px; min-width: 300px;">Remark</th>
                        <th style="max-width: 350px; min-width: 300px;">Amount</th>
                        <th style="max-width: 350px; min-width: 300px;"></th>
                    </tr>
                </thead>

                <tbody>
                    {% for data in data %}
                    <tr class="row">
                        <td class="name" style="max-width: 350px; min-width: 300px;">
                            <p>{{data.Purchace}}</p>
                        </td>
                        <td class="name" style="max-width: 350px; min-width: 300px;">
                            <p>{{data.Remark}}</p>
                        </td>
                        <td class="name" style="max-width: 350px; min-width: 300px;">
                            <p>{{data.Amount}}</p>
                        </td>
                        <td class="name" style="max-width: 350px; min-width: 300px;">
                            <p>Edit</p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!--table container -->
    </div>

    <div class="content expand_details" id="add_expence_container">

        <head>

            <head>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
            </head>
        </head>
        <button onclick="closeBtn()">&times</button>
        <section class="contact-from pt-4" style="border: 1px solid; background: #fff;">

            <body>
                <div class="container">
                    <br />
                    <br />
                    <h2 align="center">Add Expence</h2>
                    <div class="form-group">
                        <form name="add_name" id="add_name" action="" method="post">
                            {% csrf_token %}
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dynamic_field">
                                    <tr>
                                        <td><input type="text" name="purchase" placeholder="Purchase"
                                                class="form-control name_list" /></td>
                                        <td><input type="text" name="remark" placeholder="Remark"
                                                class="form-control name_list" /></td>
                                        <td><input type="text" name="amount" placeholder="Amount"
                                                class="form-control name_list" /></td>
                                    </tr>
                                </table>
                                <input type="submit" name="submit" id="submit" class="btn btn-info" value="Submit" />
                            </div>
                        </form>
                    </div>
                </div>
            </body>

            </html>
            <script>
                $(document).ready(function () {
                    var i = 1;
                    $('#add').click(function () {
                        i++;
                        $('#dynamic_field').append('<tr id="row' + i + '"><td><input type="text" name="name[]" placeholder="Expence" class="form-control name_list" /></td><td><input type="text" name="amount[]" placeholder="Amount" class="form-control name_list" /></td><td><button type="button" name="remove" id="' + i + '" class="btn btn-danger btn_remove" style="position: inherit;">X</button></td></tr>');
                    });
                    $(document).on('click', '.btn_remove', function () {
                        var button_id = $(this).attr("id");
                        $('#row' + button_id + '').remove();
                    });
                    $('#submit').click(function () {
                        $.ajax({
                            url: "name.php",
                            method: "POST",
                            data: $('#add_name').serialize(),
                            success: function (data) {
                                alert(data);
                                $('#add_name')[0].reset();
                            }
                        });
                    });
                });  
            </script>
        </section>
    </div>


</div>

<script>
    function itemCliked() {
        document.getElementById('expand_details').style.display = "block";
    }
    function closeBtn() {
        document.getElementById('add_expence_container').style.display = "none";
        document.getElementById('expand_details').style.display = "none";
    }
    function addExpence() {
        document.getElementById('add_expence_container').style.display = "block";
    }
</script>

{% endblock %}