{% extends 'admin/admin_home.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/expences.css' %}">
</head>
<div class="content">
    <div class="cards-con">
        <div class="title">
            <div class="main">Summary</div>
        </div>
        <!-- end of cards title -->

        <div class="cards">
            <div class="card card-1">
                <div class="rec-1"></div>
                <div class="rec-2"></div>
                <div class="content">
                    <div class="name">Total Summary - 10/05/2023</div>
                    <div class="name">Total Sale(Psc): 5000Rs</div>
                    <div class="pin">Total Sale(Rate): 5000Rs</div>
                    <div class="pin">Total Expence: 2000Rs</div>
                    <div class="pin">Average Expence: 2000Rs</div>
                    <div class="pin"><a href="">View More</a></div>
                </div>
            </div>

            <div class="card card-2">
                <div class="rec-1"></div>
                <div class="rec-2"></div>
                <div class="content">
                    <div class="name">My Summary - 10/05/2023</div>
                    <div class="name">Total Sale(Psc): 5000Rs</div>
                    <div class="pin">Total Sale(Rate): 5000Rs</div>
                    <div class="pin">Total Expence: 2000Rs</div>
                    <div class="pin">Average Expence: 2000Rs</div>
                    <div class="pin"><a href="">View More</a></div>
                </div>
            </div>

            <div class="card card-3">
                <div class="rec-1"></div>
                <div class="rec-2"></div>
                <div class="content">
                    <div class="name">Staff 1 Summary - 10/05/2023</div>
                    <div class="name">Total Sale(Psc): 5000Rs</div>
                    <div class="pin">Total Sale(Rate): 5000Rs</div>
                    <div class="pin">Total Expence: 2000Rs</div>
                    <div class="pin">Average Expence: 2000Rs</div>
                    <div class="pin"><a href="">View More</a></div>
                </div>
            </div>

            <div class="card card-2">
                <div class="rec-1"></div>
                <div class="rec-2"></div>
                <div class="content">
                    <div class="name">Staff 2 Summary - 10/05/2023</div>
                    <div class="name">Total Sale(Psc): 5000Rs</div>
                    <div class="pin">Total Sale(Rate): 5000Rs</div>
                    <div class="pin">Total Expence: 2000Rs</div>
                    <div class="pin">Average Expence: 2000Rs</div>
                    <div class="pin"><a href="">View More</a></div>
                </div>
            </div>

        </div>
    </div>



    <div class="table-con">
        <div class="title">Sales Record</div>
        <div class="row">

            <table class="table">
                <thead>
                    <tr class="filters">
                        <th>Staff
                            <select class="form-control">
                                <option value="all">All</option>
                                <option value="staff1">Staff1</option>
                                <option value="staff2">Staff2</option>
                            </select>
                        </th>
                        <th>Month
                            <select class="form-control">
                                <option value="all">January</option>
                                <option value="staff1">February</option>
                                <option value="staff2">March</option>
                            </select>
                        </th>
                        <th>From Date
                            <input class="form-control" type="date">
                        </th>
                        <th>To Date
                            <input class="form-control" type="date">
                        </th>
                        <th>
                            <button class="btn btn-primary">Search</button>
                        </th>
                    </tr>
                </thead>
            </table>

        </div>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Glass Case 1</th>
                    <th>Glass Case 2</th>
                    <th>Premium Case</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr class="row">
                    <td class="date">
                        <p>12/05/2020</p>
                    </td>
                    <td class="name">
                        <p>12</p>
                    </td>
                    <td class="name">
                        <p>24</p>
                    </td>
                    <td class="name">
                        <p>12</p>
                    </td>
                    <td class="name">
                        <p>48</p>
                    </td>
                    <td class="disable">
                        <p onclick="editdata()">Edit</p>
                    </td>
                </tr>

                <tr class="row">
                    <td class="date">
                        <p>13/05/2020</p>
                    </td>
                    <td class="name">
                        <p></p>
                    </td>
                    <td class="name">
                        <p></p>
                    </td>
                    <td class="name">
                        <p></p>
                    </td>
                    <td class="name">
                        <p></p>
                    </td>
                    <!-- <td class="disable"><p></p></td> -->
                </tr>

            </tbody>
        </table>
    </div>
    <!--table container -->
</div>

<div class="content expand_details" id="editdata">
    <button onclick="closeBtn()" style="position: absolute; top: 15%; right: 5%;">&times</button>
    <section class="contact-from pt-4" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background: #fff; border: 1px solid; padding: 20px;">
        <div class="container">
    
            <div class="row mt-5">
                <div class="mx-auto">
                    <div class="form-wrapper">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Edit Sales</h4>
                            </div>
                        </div>
                        <form _lpchecked="1">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Glass Case 1">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Glass Case 2">
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Premium Case">
                                    </div>
                                </div>
    
                            </div>
                            <div class="mt-3">
                                <button class="btn btn-primary" style="position: inherit;">Edit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    
        </div>
    </section>
</div>


<script>
    function editdata() {
        document.getElementById('editdata').style.display = 'block'
    }

    function closeBtn() {
        document.getElementById('editdata').style.display = 'none'
    }
</script>

{% endblock %}