{% extends 'admin/admin_home.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/expences.css' %}">
</head>
{% with user_role=request.session.user_role %}
<div class="content" style="padding: 0 50px 0 0;">
    <div class="cards-con">
        <div class="title">
            <div class="main">Summary</div>
        </div>
        <!-- end of cards title -->

        <div class="cards">
            <div class="card card-1">
                <div class="rec-1"></div>
                <div class="rec-2"></div>
                <div class="content">
                    <div class="name">Total Summary - 10/05/2023</div>
                    <div class="name">Total Sale(Psc): 5000Rs</div>
                    <div class="pin">Total Sale(Rate): 5000Rs</div>
                    <div class="pin">Total Expence: 2000Rs</div>
                    <div class="pin">Average Expence: 2000Rs</div>
                    <div class="pin"><a href="">View More</a></div>
                </div>
            </div>

            <div class="card card-2">
                <div class="rec-1"></div>
                <div class="rec-2"></div>
                <div class="content">
                    <div class="name">My Summary - 10/05/2023</div>
                    <div class="name">Total Sale(Psc): 5000Rs</div>
                    <div class="pin">Total Sale(Rate): 5000Rs</div>
                    <div class="pin">Total Expence: 2000Rs</div>
                    <div class="pin">Average Expence: 2000Rs</div>
                    <div class="pin"><a href="">View More</a></div>
                </div>
            </div>

            <div class="card card-3">
                <div class="rec-1"></div>
                <div class="rec-2"></div>
                <div class="content">
                    <div class="name">Staff 1 Summary - 10/05/2023</div>
                    <div class="name">Total Sale(Psc): 5000Rs</div>
                    <div class="pin">Total Sale(Rate): 5000Rs</div>
                    <div class="pin">Total Expence: 2000Rs</div>
                    <div class="pin">Average Expence: 2000Rs</div>
                    <div class="pin"><a href="">View More</a></div>
                </div>
            </div>

            <div class="card card-2">
                <div class="rec-1"></div>
                <div class="rec-2"></div>
                <div class="content">
                    <div class="name">Staff 2 Summary - 10/05/2023</div>
                    <div class="name">Total Sale(Psc): 5000Rs</div>
                    <div class="pin">Total Sale(Rate): 5000Rs</div>
                    <div class="pin">Total Expence: 2000Rs</div>
                    <div class="pin">Average Expence: 2000Rs</div>
                    <div class="pin"><a href="">View More</a></div>
                </div>
            </div>

        </div>
    </div>



    <div class="table-con" style="overflow: hidden;">
        <div class="title">Sales Record</div>
        <div class="row">

            <table class="table">
                <thead>
                    <form action="" method="get">
                        <tr class="filters">
                            {% if user_role == 'admin' %}
                            <th>Staff
                                <select name="staff" class="form-control">
                                    <option value="all">All</option>
                                    {% for staff in staffs %}
                                    <option value="{{staff.id}}">{{staff.firstName}}</option>  
                                    {% endfor %}
                                </select>
                            </th>
                            {% endif %}
                            <th>Month
                                <select name="month" class="form-control">
                                    <option value="all">January</option>
                                    <option value="staff1">February</option>
                                    <option value="staff2">March</option>
                                </select>
                            </th>
                            <th>From Date
                                <input name="from_data" class="form-control" type="date">
                            </th>
                            <th>To Date
                                <input name="to_date" class="form-control" type="date">
                            </th>
                            <th>
                                <button type="submit" class="btn btn-primary">Search</button>
                            </th>
                        </tr>
                    </form>
                </thead>
            </table>

        </div>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    {% for product in products %}
                    <th>{{product.name}}</th>
                    {% endfor %}
                    <th>Total</th>
                    <th>{% if user_role == 'admin' %}<button onclick="addProduct()" class="btn btn-primary">Add Product</button>{% endif %}</th>
                </tr>
            </thead>

            <tbody>
                <tr class="row">
                    <td class="date">
                        <p>12/05/2020</p>
                    </td>
                    <td class="name">
                        <p>12</p>
                    </td>
                    <td class="name">
                        <p>24</p>
                    </td>
                    <td class="name">
                        <p>12</p>
                    </td>
                    <td class="name">
                        <p>48</p>
                    </td>
                    <td class="disable">
                        <p onclick="editdata()">Edit</p>
                    </td>
                </tr>

                <tr class="row">
                    <td class="date">
                        <p>13/05/2020</p>
                    </td>
                    <td class="name">
                        <p></p>
                    </td>
                    <td class="name">
                        <p></p>
                    </td>
                    <td class="name">
                        <p></p>
                    </td>
                    <td class="name">
                        <p></p>
                    </td>
                    <!-- <td class="disable"><p></p></td> -->
                </tr>

            </tbody>
        </table>
    </div>
    <!--table container -->
</div>

<div class="content expand_details" id="editdata">
    <button onclick="closeBtn()" style="position: absolute; top: 15%; right: 5%;">&times</button>
    <section class="contact-from pt-4" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background: #fff; border: 1px solid; padding: 20px;">
        <div class="container">
    
            <div class="row mt-5">
                <div class="mx-auto">
                    <div class="form-wrapper">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Edit Sales</h4>
                            </div>
                        </div>
                        <form action="" method="post" _lpchecked="1">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input name="date" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" name="glass" class="form-control" placeholder="Glass Case 1">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" name="test" class="form-control" placeholder="Glass Case 2">
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" name="pre" class="form-control" placeholder="Premium Case">
                                    </div>
                                </div>

                                <input type="text" hidden name="staff" value=1 id="">
    
                            </div>
                            <div class="mt-3">
                                <button class="btn btn-primary" style="position: inherit;">Edit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    
        </div>
    </section>
</div>

<div class="content expand_details" id="addProduct">
    <button onclick="closeBtn()" style="position: absolute; top: 15%; right: 5%;">&times</button>
    <section class="contact-from pt-4" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background: #fff; border: 1px solid; padding: 20px;">
        <div class="container">
    
            <div class="row mt-5">
                <div class="mx-auto">
                    <div class="form-wrapper">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Add Product</h4>
                            </div>
                        </div>
                        <form _lpchecked="1" action="addProduct" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" name="name" placeholder="Name" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="purchace_price" placeholder="Purchase Price">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="selling_price" placeholder="Selling Price">
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="vendor" placeholder="Vendor">
                                    </div>
                                </div>
    
                            </div>
                            <div class="mt-3">
                                <button class="btn btn-primary" style="position: inherit;">Add Product</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    
        </div>
    </section>
</div>

{% endwith %}

<script>
    function addProduct() {
        document.getElementById('addProduct').style.display = 'block'
    }
    function editdata() {
        document.getElementById('editdata').style.display = 'block'
    }

    function closeBtn() {
        document.getElementById('editdata').style.display = 'none'
        document.getElementById('addProduct').style.display = 'none'
    }
</script>

{% endblock %}