{% extends 'admin/admin_home.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/expences.css' %}">
</head>
{% with user_role=request.session.user_role %}
<div class="content" style="padding: 0 50px 0 0;">
    {% if user_role == "admin" %}
    <div class="cards-con">
        <div class="title">
            <div class="main">Summary</div>
        </div>
        <!-- end of cards title -->

        <div class="cards">
            <div class="card card-1">
                <div class="rec-1"></div>
                <div class="rec-2"></div>
                <div class="content">
                    <div class="name">{{current_month_full}}</div>
                    <div class="name">Total Sale(Psc): {{card_data.total_psc}}</div>
                    <div class="pin">Total Sale(Rate): {{card_data.total_income}}</div>
                    <div class="pin">Total Expence: {{card_data.total_expence}} </div>
                    <div class="pin">Total Profit: {{card_data.total_profit}}</div>
                </div>
            </div>

        </div>
    </div>
    {% endif %}


    <div class="table-con" style="overflow: hidden;">
        <div class="title">Sales Record</div>
        <div class="row">

            <table class="table">
                <thead>
                    <form action="" method="get">
                        <tr class="filters">
                            {% if user_role == 'admin' %}
                            <th>Staff
                                <select name="staff" class="form-control">
                                    <option value="">All</option>
                                    {% for staff in staffs %}
                                    <option value="{{staff.id}}">{{staff.firstName}} {{staff.lastName}}</option>  
                                    {% endfor %}
                                </select>
                            </th>
                            {% endif %}
                            <th>Month
                                <select name="month" class="form-control">
                                    <option {% if current_month == '1' %} selected {% endif %} value=1>January</option>
                                    <option {% if current_month == '2' %} selected {% endif %} value=2>February</option>
                                    <option {% if current_month == '3' %} selected {% endif %} value=3>March</option>
                                    <option {% if current_month == '4' %} selected {% endif %} value=4>April</option>
                                    <option {% if current_month == '5' %} selected {% endif %} value=5>May</option>
                                    <option {% if current_month == '6' %} selected {% endif %} value=6>June</option>
                                    <option {% if current_month == '7' %} selected {% endif %} value=7>July</option>
                                    <option {% if current_month == '8' %} selected {% endif %} value=8>August</option>
                                    <option {% if current_month == '9' %} selected {% endif %} value=9>September</option>
                                    <option {% if current_month == '10' %} selected {% endif %} value=10>October</option>
                                    <option {% if current_month == '11' %} selected {% endif %} value=11>November</option>
                                    <option {% if current_month == '12' %} selected {% endif %} value=12>December</option>
                                </select>
                            </th>   
                            <!-- <th>From Date
                                <input name="from_data" class="form-control" type="date">
                            </th>
                            <th>To Date
                                <input name="to_date" class="form-control" type="date">
                            </th> -->
                            <th>
                                <button type="submit" class="btn btn-primary">Search</button>
                            </th>
                        </tr>
                    </form>
                </thead>
            </table>

        </div>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    {% for product in products %}
                    <th>{{product.name}}{{product.vendor}}</th>
                    {% endfor %}
                    <th>Total Sales(Psc)</th>
                    <th>Total Sales(Rs)</th>
                    <th>Total Profit</th>
                    <th></th>
                    <!-- <th>{% if user_role == 'admin' %}<button onclick="addProduct()" class="btn btn-primary">Add Product</button>{% endif %}</th> -->
                </tr>
            </thead>

            <tbody>
                {% for sale in sales %}
                    <tr class="row">
                        <td class="name">
                            {{ sale.date }}
                        </td>
                        <td class="name">
                            {{sale.Glass}}
                        </td>
                        <td class="name">
                            {{sale.Hard}}
                        </td>
                        <td class="name">
                            {{sale.totalNumberProducts}}
                        </td>
                        <td class="name">
                            {{sale.totalSale_rs}}
                        </td>
                        <td class="name">
                            {{sale.profit}}
                        </td>
                    </tr>
                {% endfor %}
                {% if sales_added and user_role != 'admin' %}
                <tr class="row">
                    <td class="name">
                        {{current_day}}
                    </td>
                    <td class="name" colspan="6">
                        </td>
                    <td class="name">
                        <a onclick="addsales()">Add Sales</a>
                    </td>
                </tr>
                {% endif %}

            </tbody>
        </table>
    </div>
    <!--table container -->
</div>

<div class="content expand_details" id="addsales">
    <button onclick="closeBtn()" style="position: absolute; top: 15%; right: 5%;">&times</button>
    <section class="contact-from pt-4" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background: #fff; border: 1px solid; padding: 20px;">
        <div class="container">
        {% with staff_id=request.session.user_id %}
            <div class="row mt-5">
                <div class="mx-auto">
                    <div class="form-wrapper">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Add Sales</h4>
                            </div>
                        </div>
                        <form action="" method="post" _lpchecked="1">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input name="date" type="date" class="form-control">
                                    </div>
                                </div>
                            </div>
                            {% for product in products %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="{{product.name}}" class="form-control" placeholder="{{product.name}}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="discount" class="form-control" placeholder="Discount">
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                                <input type="text" hidden name="staff" value="{{staff_id}}" id="">
    
                            </div>
                            <div class="mt-3">
                                <button class="btn btn-primary" style="position: inherit;">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endwith %}
        </div>
    </section>
</div>

<div class="content expand_details" id="addProduct">
    <button onclick="closeBtn()" style="position: absolute; top: 15%; right: 5%;">&times</button>
    <section class="contact-from pt-4" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background: #fff; border: 1px solid; padding: 20px;">
        <div class="container">
    
            <div class="row mt-5">
                <div class="mx-auto">
                    <div class="form-wrapper">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Add Product</h4>
                            </div>
                        </div>
                        <form _lpchecked="1" action="addProduct" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" name="name" placeholder="Name" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="purchace_price" placeholder="Purchase Price">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="selling_price" placeholder="Selling Price">
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="vendor" placeholder="Vendor">
                                    </div>
                                </div>
    
                            </div>
                            <div class="mt-3">
                                <button class="btn btn-primary" style="position: inherit;">Add Product</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    
        </div>
    </section>
</div>

{% endwith %}

<script>
    function addProduct() {
        document.getElementById('addProduct').style.display = 'block'
    }
    function addsales() {
        document.getElementById('addsales').style.display = 'block'
    }

    function closeBtn() {
        document.getElementById('addsales').style.display = 'none'
        document.getElementById('addProduct').style.display = 'none'
    }
</script>

{% endblock %}