{% extends 'admin/admin_home.html' %}

{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/expences.css' %}">
</head>

<div class="content" style="padding: 0 50px 0 0;">  
    {% with user_role=request.session.user_role %}

    <div class="table-con" style="overflow: hidden;">
        <div class="heading">
            <div class="title">Returns Record</div>

            <div class="row">
                <form action="" method="get">
                <table class="table">
                    <thead>
                        <tr class="filters">
                            {% if user_role == 'admin' %}
                            <th>Staff
                                <select name="filter" class="form-control">
                                    <option value="all">All</option>
                                    {% for data in staffs %}
                                    <option value="{{data.id}}">{{data.firstName}}</option>
                                    {% endfor %}
                                </select>
                            </th>
                            <th>
                                <button type="submit" class="btn btn-primary">Search</button>
                            </th>
                            {% endif %}
                            <th>
                                <button class="btn btn-primary" onclick="add_return()">Add Return</button>
                            </th>
                        </tr>
                    </thead>
                </table>
            </form>
            </div>

        </div>
        <table>
            <thead>
                <tr>
                    <th style="max-width: 350px; min-width: 300px;">Date</th>
                    <th style="max-width: 350px; min-width: 300px;">Staff</th>
                    <th style="max-width: 350px; min-width: 300px;">Action</th>
                </tr>
            </thead>

            <tbody>
                {% for data in data %}
                <tr class="row">
                    <td class="date" style="max-width: 350px; min-width: 300px;">
                        <p>{{data.Date}}</p>
                    </td>
                    <td class="name" style="max-width: 350px; min-width: 300px;">
                        <p>{{data.Staff.firstName}}</p>
                    </td>
                    <td class="name" style="max-width: 350px; min-width: 300px;">
                        <p><a style="color: brown;" onclick="itemCliked({{forloop.counter}})">View Details</a></p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    
    <!--table container -->
    {% for data in data %}
    <div class="content expand_details" id="expand_details{{forloop.counter}}">
        <button onclick="closeBtn({{forloop.counter}})">&times</button>
        <div class="show_details" style="width: 50vw; left: 50%; top: 50%; position: absolute; transform: translate(-50%, -50%); display: flex; flex-direction: column; gap: 10px;">
            <form action="edit-return-{{data.id}}" method="post">
                {% csrf_token %}
                {% if user_role == 'admin' %}
                <select name="staff" class="form-control" style="width: 250px; text-align: center;">
                    {% for data in staffs %}
                    <option value="{{data.id}}">{{data.firstName}}</option>
                    {% endfor %}    
                </select>
                {% else %}
                <input type="text" readonly id="selected_staff" value="{{data.Staff.firstName}}" class="form-control" style="width: 250px; text-align: center;">
                {% endif %}
                <textarea class="form-control" cols="30" id="selected_description" rows="15">{{data.Description}}</textarea>
                <button type="submit" class="btn btn-primary" style="position: static; width: 200px;">Edit</button>
            </form>
        </div>
    </div>
    {% endfor %}

    <div class="content expand_details" id="add_return" style="top: 100% !important;">
        <button onclick="closeBtn()" style="position: absolute; top: 15%; right: 5%;">&times</button>
        <div class="show_details" style="width: 50vw; left: 50%; top: 50%; position: absolute; transform: translate(-50%, -50%); display: flex; flex-direction: column; gap: 10px;">
            <form action="" method="post">
                {% csrf_token %}
                <select name="staff" class="form-control" style="width: 250px; text-align: center;">
                    {% for data in staffs %}
                    <option value="{{data.id}}">{{data.firstName}}</option>
                    {% endfor %}    
                </select>
                <textarea class="form-control" cols="30" name="description" rows="15"></textarea>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>

</div>

{% endwith %}

<script>
    function itemCliked(id) {
        console.log(id)
        document.getElementById(`expand_details${id}`).style.display = "block";
    }
    function closeBtn(id=0) {
        document.getElementById('add_return').style.display = "none";
        document.getElementById(`expand_details${id}`).style.display = "none";
    }
    function add_return() {
        event.preventDefault();
        document.getElementById('add_return').style.display = "block";
    }
</script>

{% endblock %}