.expand_details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffffd4;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 55;
    display: none;
}

.expand_details table {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

section.contact-from.pt-4 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

table a {
    cursor: pointer;
    color: blue;
}

.expand_details button {
    position: absolute;
    top: 15%;
    right: 5%;
}

.row::before {
    content: none !important;
}