<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Slide Navbar</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main">
        <input type="checkbox" id="chk" {%if msg%}checked{%endif%} aria-hidden="true">

        <div class="signup">
            <form action="login" method="post">
                <label for="chk" aria-hidden="true">SHOPIZ IN</label>
        </div>

        <div class="login">
                {% csrf_token %}
                <label for="chk" aria-hidden="true">Login</label>
                <input type="text" name="username" placeholder="Username" required="">
                <input type="password" name="pswd" placeholder="Password" required="">
                {%if msg%}
                <div class="msg" style="color: red; font-size: 13px; margin: 25px 0 0 23%;">Incorrect Username Or Password</div>
                {%endif%}
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</body>

</html>